@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

::selection {
  color: #fff;
  background: #007bff;
}
.flex-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbox-form .inbox {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.chatbox-form .user-inbox {
  justify-content: flex-end;
  margin: 13px 0;
}
.chatbox-form .inbox .icon {
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  background: #007bff;
}
.chatbox-form .inbox .msg-header {
  max-width: 70%;
  margin-left: 10px;
}
.chatbox-form .inbox .msg-header {
  color: #fff;
  background: #007bff;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 14px;
  word-break: break-all;
}
.chatbox-form .inbox .msg-header .msg-user {
  padding-bottom: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}
.chatbox-form .user-inbox .msg-header {
  color: #333;
  background: #efefef;
}
.chatbox-form .user-inbox .msg-header .msg-user {
  padding-bottom: 0.5rem;
  font-size: 12px;
  font-weight: bold;
}

.title {
  margin: auto;
  font-size: x-large;
  font-family: Raleway, sans-serif;
  color: rebeccapurple;
}
@media (min-width: 450px) {
  .main-card {
    width: 96%;
    max-width: 400px;
    height: 90vh;
    border-radius: 8px !important;
    max-height: 600px;
    margin: 20px !important;
    font-family: 'Poppins', sans-serif;
  }
}

.collapsed {
  width: 48px !important;
  height: 48px !important;
  border-radius: 24px !important;
  margin: 20px !important;
}

.main-card {
  background: white;
  color: black;
  width: 100%;
  height: 90vh;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line {
  height: 1px;
  background-color: rebeccapurple;
  width: 100%;
  opacity: 0.2;
}
.main-title {
  background-color: rebeccapurple;
  color: white;
  font-size: large;
  font-weight: bold;
  display: flex;
  height: 48px;
}
.main-title > div {
  height: 48px;
  width: 48px;
  display: flex;
}
.f-icon {
  padding: 1.7rem 0 0 2rem;
}
.main-title svg {
  height: 24px;
  margin: auto;
}
.main-title > span {
  margin: auto auto auto 8px;
}
.chatbox-form {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.input-message {
  padding: 8px 48px 8px 16px;
  flex-grow: 1;
  border: none;
}
.input-message:focus {
  outline: none;
}
.input-div {
  height: 48px;
  display: flex;
}

.input-send {
  background: transparent;
  width: 48px;
  height: 48px;
  right: 0%;
  border: none;
  cursor: pointer;
}
.input-send:hover {
  background: lavender;
}
.input-send svg {
  fill: rebeccapurple;
  margin: 11px 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.chatbox-form .inbox .msg-header p{
  font-size: 10px;
}