@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;200&display=swap');
/*  */
*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
   overflow: scroll;
}

section
{
    display: flex;
    width: 2200px;
    justify-content: center;
    position: absolute;
    /* align-items: center; */
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);

}
 section .color
{
    position:absolute;
    filter: blur(150px);  

} 
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #f5e876 ;
}
section .color:nth-child(2)
{
    top: 350px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #06b396ce ;
}
section .color:nth-child(3)
{
    top: 320px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #8feb44a9 ;
}
/* .fetch
{
    height: auto;
    position: relative;
    width: 400px;
} */
.container
{
    position:relative;
    width:1060px;
    min-height: 400px;
    background: rgba(66, 52, 52, 0.158);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 25px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.dpd{
    font-size: 16px;
    color: rgb(20, 13, 3);
    background-color: rgb(183, 185, 153);
}
/* .aligner
{
    width: 200px;
    position: relative;
    align-items: center;
    justify-content: right;
    height: fit-content;
} */
.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2
{
    position: relative;
    color: rgb(66, 14, 14);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;   
}

.form h2::before
{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    width: 998px;
    height: 4px;
    background: #fff;
}
.form .inputbox
{ 

    width: 50%;
    margin-top: 5px;
}

.form .inputbox input
{
    height: 100px;
    width: 50%;
    background: rgba(51, 45, 45, 0.2);
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
}

.form .inputbox input::placeholder
{
    font-size: 4px;
    width: 100%;
    color: rgb(14, 10, 10);
}
.form .inputbox input[type="submit"]
{
    background: #dff1ff;
    color: #666;
    max-width: 105px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 650;

}
.cont
{
    min-height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.cont a
{
    position: relative;
    color: #000;
    width:300px;
    height: 75px;
    margin: 10px 0;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    transition: 0.6s;   
}
.cont a:hover
{
    color: beige;

}
.cont a:before
{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:0;
    height: 100%;
    background: url(btn-bg1.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s; 
}
.cont a:hover::before{
    width: 100%;
}
.cont a span
{
    position: relative;
    z-index: 1;
}