@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;200&display=swap');
/*  */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow: hidden;
}
.he
{
    align-content: center;
    align-items: center;
}
h2 .h{
    align-content: center;
    align-items: center;
    color: #052b29;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);

}
section .color
{
    position:absolute;
    filter: blur(150px); 

}
section .color:nth-child(1)
{
    top: -350px;
    width: 600px;
    height: 600px;
    background: #76f5ef ;
}
section .color:nth-child(2)
{
    top: 350px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #084872ce ;
}
section .color:nth-child(3)
{
    top: 320px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #64b7eea9 ;
}

.container
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container a
{
    position: relative;
    color: #000;
    width:300px;
    height: 75px;
    margin: 10px 0;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    transition: 0.6s;   
}
.container a:hover
{
    color: beige;

}
.container a:before
{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:0;
    height: 100%;
    background: url(btn-bg1.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s; 
}
.container a:nth-child(2):before
{
    background: url(btn-bg2.png);
    background-size: cover;
}
.container a:nth-child(3):before
{
    background: url(j.png);
    background-size: cover;
    transition: 0.7s;
}
.container a:hover::before{
    width: 100%;
}
.container a span
{
    position: relative;
    z-index: 1;
}